.poko {
    width: 30%;
}
.pokotop{
    width: 60%;
}
.title{
    width: 90%;
}
.head{
}
.pl_size{
    width: 6vw;
}
.player {
    position: fixed;
}
.maxpoint{
    position: fixed;
}

.body {
    display: flex;
    position: fixed;
    top: 40%;
}

.GAMEOVER{
    font-size: 300%;
    font-family: "UD デジタル 教科書体 NP-B","UD Digi Kyokasho NP-B";
}
.RESTART{
    color: rgb(255, 255, 255);
    size: 100%;
}
.comm{
    text-align: center;
}
.playcount{
    text-align: right;
    font-family: "UD デジタル 教科書体 NP-B","UD Digi Kyokasho NP-B";
}
   /*ボックス*/
.btn{
    display: block;
    padding:5%;
    position: relative;
}

/*ボックス*/
.btn1{
    width: 40%;
    height: 30%;
    padding : 5% ;
    margin: auto;
    text-align: center;
    border : 1px solid #4f0c00 ;
    background-color : rgba(59, 33, 0, 0.932) ;
    border-radius:30px;
}

input {
    display: none;
}

/* ポップアップwindow部分 */
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 70;
    width: 100%;
    height: 100%;
}
/* オーバーレイの背景部分 */
#bg_gray {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
}
/* ウィンドウ部分 */
#window {
    width: 50%;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background:rgba(59, 33, 0, 0.932);
    border-radius: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.6);
    z-index: 90;
    opacity: 0;
}
/* 閉じるボタン */
#btn_cloth {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CE5D8B;
    border-radius: 5px;
    z-index: 100;
    cursor: pointer;
}
#btn_cloth:hover {
    opacity: 0.7;
}
#btn_cloth span,
#btn_cloth span::before {
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #fff;
}
#btn_cloth span {
    transform: rotate(45deg);
}
#btn_cloth span::before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: rotate(-90deg);
}


/* クリックで表示 */
#popup:checked ~ #overlay {
    visibility: visible;
}
#popup:checked ~ #overlay #window {
    animation: fadein 500ms forwards;
    animation-timing-function: ease-in-out;
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}


/* コンテンツ部分のスタイル */
body {
    margin: 30px;
}


#txt_label {
    text-decoration: underline;
    cursor: pointer;
}
#txt_label:hover {
    opacity: 0.7;
}


#msg a {
    display: inline-block;
    color: #fff;
    background: #CE5D8B;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    text-decoration: none;
}
#msg a:hover {
    opacity: 0.7;
}


